<beans:beans xmlns:sec="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd" >

	<beans:import resource="websocket-context.xml" />
<!--   	<context:component-scan base-package="umk.zychu.inzynierka.controller" />-->


	<sec:http pattern="/resources/**" security="none" />
	<sec:http disable-url-rewriting="false">
		<sec:headers disabled="false"/>
		<sec:csrf disabled="false"/>
		<sec:access-denied-handler error-page="/denied" />
		<sec:intercept-url pattern="/signing" access="permitAll" requires-channel="https"/>
        <sec:intercept-url pattern="/register" access="permitAll"/>
        <sec:intercept-url pattern="/register/**" access="permitAll"/>
		<sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
		<sec:intercept-url pattern="/planner**" access="hasRole('ROLE_ANIMATOR')" />
		<sec:intercept-url pattern="/pane**" access="hasRole('ROLE_ANIMATOR')" />
		<sec:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER', 'ROLE_ANIMATOR')" requires-channel="https"/>
        <sec:port-mappings>
            <sec:port-mapping http="8080" https="8443"/>
        </sec:port-mappings>
		<sec:form-login
				login-page="/signing"
				default-target-url="/"
				always-use-default-target="true"
				authentication-failure-url="/signing?error"
				username-parameter="email"
				password-parameter="password"
				login-processing-url="/j_spring_security_check"
				/>
	 	<sec:logout logout-url="/j_spring_security_logout" logout-success-url="/signing"/>
	</sec:http>

	<!-- Password Hashing Bean -->
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" >
		<beans:constructor-arg name="strength" value="12" />
	</beans:bean>
	<beans:bean id="myUserDetailsService" class="umk.zychu.inzynierka.security.myUserDetailsServiceImp"/>

	<sec:authentication-manager>
     <sec:authentication-provider user-service-ref="myUserDetailsService" >
         <sec:password-encoder ref="passwordEncoder" />
     </sec:authentication-provider>
     <sec:authentication-provider>
		  <sec:user-service>
			<sec:user name="mkyong@o2.pl" password="123456" authorities="ROLE_USER" />
		  </sec:user-service>
		</sec:authentication-provider>
</sec:authentication-manager>


	<!--   <http pattern="/resources/**" security="none"/>
  	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login**" access="permitAll" />
		<intercept-url pattern="/register/**"  access="permitAll" />
		<intercept-url pattern="/**"  access="hasRole('ROLE_USER')" />
&lt;!&ndash;		<intercept-url pattern="/events/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/friends/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/notifications/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/account/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/friends/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/pane" access="hasRole('ROLE_ANIMATOR')" />
		<intercept-url pattern="/planner" access="hasRole('ROLE_ANIMATOR')" />&ndash;&gt;
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
    	<intercept-url pattern="/error"  access="permitAll" />
		<form-login
		    login-page="/login"
		    default-target-url="/"
		    always-use-default-target="true"
			authentication-failure-url="/login?error"
			username-parameter="email"
			password-parameter="password" />
		<access-denied-handler error-page="/denied"/>
		<logout logout-url="j_spring_security_logout" logout-success-url="/logout" delete-cookies="JSESSIONID" />
		&lt;!&ndash; enable csrf protection disabled &ndash;&gt;
		<csrf/>
	</http>-->
</beans:beans>