<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence 
             http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="manager1" transaction-type="RESOURCE_LOCAL">
<!--         <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>umk.zychu.inzynierka.model.Event</class>
        <class>umk.zychu.inzynierka.model.EventState</class>
        <class>umk.zychu.inzynierka.model.Friendship</class>
        <class>umk.zychu.inzynierka.model.Graphic</class>
        <class>umk.zychu.inzynierka.model.Orlik</class>
        <class>umk.zychu.inzynierka.model.User</class>
        <class>umk.zychu.inzynierka.model.UserDecision</class>
        <class>umk.zychu.inzynierka.model.UserEvent</class>
        <class>umk.zychu.inzynierka.model.UserEventRole</class>   -->
    <properties>
      <!-- <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLInnoDBDialect"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.connection.username" value="orlik"/>
      <property name="hibernate.connection.password" value="GrFcjrSTmN6z5DM5"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/orlikeo"/>
      <property name="hibernate.max_fetch_depth" value="3"/> -->
    </properties>
    </persistence-unit>
</persistence>
    
    
    
